[Unit]
Description=Marsnake Client Daemon

[Service]
Environment="DISPLAY=:0"
Type=forking
######################
#
# modify by installer 
#
######################
#WorkingDirectory=
#ExecStart=

Restart=always
RestartSec=600

[Install]
WantedBy=multi-user.target
